/ We probably want to include the subject line as well as who it's from/to
#message-headers
  %table{:border => 0}
    %tr
      %td{:align => 'right', :style => 'font-weight: bold'} Subject:
      %td=h @message.subject
    %tr
      %td{:align => 'right', :style => 'font-weight: bold'} Sent:
      %td
        = distance_of_time_in_words(@message.assignment_participation.assignment_submission.assignment.course.tz.utc_to_local(@message.created_at), @message.assignment_participation.assignment_submission.assignment.course.now)
        ago
    %tr
      %td{:align => 'right', :style => 'font-weight: bold'}
        - if @message.user == @reader
          To:
        - else
          From:
      %td
        =h @recipient

#message-body= markdown @message.content
- if !@message.uploads.empty?
  #message-attachments
    %h3 Attachments
    %ol
      - @message.uploads.sort_by {|a| a.tag.to_i}.each do |u|
        %li
          - if u.user == @reader
            Your file, 
            = '"' + u.filename + '," is available as'
          %a{:href => u.url}=h u.download_name
          = '(' + u.size.to_s + ' bytes)'
