/ We probably want to include the subject line as well as who it's from/to
%table{:border => 0}
  %tr
    %td{:align => 'right', :style => 'font-weight: bold'} Subject:
    %td=h @message.subject
  %tr
    %td{:align => 'right', :style => 'font-weight: bold'} Sent:
    %td
      = distance_of_time_in_words(@message.assignment_participation.assignment_submission.assignment.course.tz.utc_to_local(@message.created_at), @message.assignment_participation.assignment_submission.assignment.course.now)
      ago
  %tr
    %td{:align => 'right', :style => 'font-weight: bold'}
      - if @message.user == @user
        To:
      - else
        From:
    %td
      - if( (@message.user == @user) ^ (@user == @message.assignment_participation.user) )
        =h @message.assignment_participation.participant_name
      - else
        =h @message.assignment_participation.author_name

#message-body= markdown @message.content
