%h2.title
  %a{:href => course_path(@assignment.course)}=h @assignment.course.name
  &gt;
  = 'Assignment #'  + @assignment.position.to_s
/ show general timeline for assignment
/ and options for more information

%ul
  %li= link_to 'Timeline', { :controller => "assignment_modules", :assignment_id => @assignment }
  - if @assignment.is_ended?
    %li= link_to 'Trust', { :controller => 'assignments', :id => @assignment, :action => 'trust' }
  %li= link_to 'Participants', { :controller => 'assignment_submissions', :assignment_id => @assignment }
